@page
@model MarketAnalytics.Pages.PortfolioPages.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h3>Portfolio - Add new trade</h3>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-page="./Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                <label asp-for="portfolio.StockMaster.Exchange" class="control-label"></label>
                <select asp-for="portfolio.StockMaster.Exchange" asp-items="Model.exchangeList">
                    <option value="">Select Exchange</option>
                </select>   
                <label asp-for="portfolio.StockMaster.Exchange" class="control-label"></label>
                <input asp-for="portfolio.StockMaster.Exchange" class="form-control" />
                <span asp-validation-for="portfolio.StockMaster.Exchange" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="portfolio.StockMaster.Symbol" class="control-label"></label>
                <select asp-for="portfolio.StockMasterID" asp-items="Model.symbolList">
                    <option value="">Select Symbol</option>
                </select>

                @*<label asp-for="portfolio.StockMaster.Symbol" class="control-label"></label>
                <input asp-for="portfolio.StockMaster.Symbol" class="form-control" />
                <span asp-validation-for="portfolio.StockMaster.Symbol" class="text-danger"></span>*@
            </div>
            @*<div class="form-group">
                <label asp-for="portfolio.StockMaster.CompName" class="control-label"></label>
                <input asp-for="portfolio.StockMaster.CompName" class="form-control" />
                <span asp-validation-for="portfolio.StockMaster.CompName" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="portfolio.PURCHASE_DATE" class="control-label"></label>
                <input asp-for="portfolio.PURCHASE_DATE" class="form-control" />
                <span asp-validation-for="portfolio.PURCHASE_DATE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="portfolio.QUANTITY" class="control-label"></label>
                <input asp-for="portfolio.QUANTITY" class="form-control" />
                <span asp-validation-for="portfolio.QUANTITY" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="portfolio.COST_PER_SHARE" class="control-label"></label>
                <input asp-for="portfolio.COST_PER_SHARE" class="form-control" />
                <span asp-validation-for="portfolio.COST_PER_SHARE" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="portfolio.TOTAL_COST" class="control-label"></label>
                <input asp-for="portfolio.TOTAL_COST" class="form-control" />
                <span asp-validation-for="portfolio.TOTAL_COST" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="portfolio.CMP" class="control-label"></label>
                <input asp-for="portfolio.CMP" class="form-control" />
                <span asp-validation-for="portfolio.CMP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="portfolio.VALUE" class="control-label"></label>
                <input asp-for="portfolio.VALUE" class="form-control" />
                <span asp-validation-for="portfolio.VALUE" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
