@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Market Analyticss</h1>
    <h4 class="display-6">App that implements buy-sell strategies and helps you make right decision!</h4>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
    <p>
        <a asp-page="/Master/Index">Start your journey with Market Analytics</a>
    </p>
</div>
